.p-vcard-preview {
    font: 12px/1.3 Arial, Helvetica, sans-serif;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #000;
    background: #EDEDED;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
