/* ../../desktop.blocks/card/card.styl:begin */
.ua_js_yes .card {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.ua_js_yes .card_visible {
  opacity: 1;
}
.card {
  width: 553px;
  height: 300px;
  position: relative;
  margin: 0;
  padding: 0;
}
.card__text {
  position: absolute;
  top: 30px;
  left: 165px;
  width: 300px;
}
.card__side {
  width: 553px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}
.card__rectangle {
  z-index: 2;
  position: absolute;
  width: 465px;
  height: 300px;
  background: #fff;
}
.card__side::after {
  content: '';
  left: 100%;
  margin-left: -88px;
  position: absolute;
  border-color: rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0) #fff;
  border-style: solid;
  border-width: 150px 0 150px 80px;
  width: 0;
  height: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: 3;
}
.card__title {
  height: 98px;
  margin-bottom: 10px;
}
.card__gap {
  height: 10px;
}
.card__name {
  font-size: 25px;
  margin: 0;
  font-weight: normal;
}
.card__position {
  font-size: 13px;
  font-weight: normal;
}
.card__side {
  z-index: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}
.card_animation .card__side_state_closed,
.card_animation .card__side_state_opened {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.card__side_state_closed {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.card__side_state_opened {
  z-index: 2;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
.card__switch {
  position: absolute;
  z-index: 10;
  top: 310px;
  right: 88px;
  font-size: 14px;
}
.card__switch .card__link {
  margin-left: 10px;
}
.card__link,
.mobile .card__phone-link {
  text-decoration: none;
  color: #4183c4;
}
.card__link:hover,
.mobile .card__phone-link:hover {
  color: #d00;
}
.card__link_disabled_yes,
.card__phone-link {
  color: #000;
  text-decoration: none;
  cursor: default;
}
.card__link_disabled_yes:visited,
.card__phone-link:visited {
  color: #000;
}
.card__link_disabled_yes:hover,
.card__phone-link:hover {
  text-decoration: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .card__switch {
    font-size: 40px;
  }
  .card__switch .card__link {
    margin-left: 30px;
  }
}
/* ../../desktop.blocks/card/card.styl:end */
/* ../../desktop.blocks/card/__logo/card__logo.styl:begin */
.card__logo {
  position: absolute;
  left: 27px;
  top: 128px;
  width: 110px;
  height: 44px;
  background-image: url("../../desktop.blocks/card/__logo/card__logo_lang_ru.svg");
  background-size: 110px 44px;
  border: 0;
}
.card__logo span {
  position: absolute;
  left: -9999px;
}
.card__side_lang_en .card__logo {
  background-image: url("../../desktop.blocks/card/__logo/card__logo_lang_en.svg");
  top: 124px;
}
/* ../../desktop.blocks/card/__logo/card__logo.styl:end */
/* ../../desktop.blocks/vcard-form/vcard-form.css:begin */
.vcard-form
{
    padding: 20px;
}

.vcard-form__input
{
    margin: 2px;
    display: block;
}

.vcard-form__input_name_address-country,
.vcard-form__input_name_company-name,
.vcard-form__input_name_contact-work
{
    margin-top: 10px;
}

.vcard-form__ru,
.vcard-form__en
{
    display: none;
}

.vcard-form_tab_ru .vcard-form__ru,
.vcard-form_tab_en .vcard-form__en
{
    display: block;
}
/* ../../desktop.blocks/vcard-form/vcard-form.css:end */
/* ../../libs/bem-components/common.blocks/radio/radio.css:begin */
.radio {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
/* ../../libs/bem-components/common.blocks/radio/radio.css:end */
/* ../../libs/bem-components/common.blocks/button/button.css:begin */
.button {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
/* ../../libs/bem-components/common.blocks/button/button.css:end */
/* ../../libs/bem-components/common.blocks/input/input.css:begin */
.input {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
/* ../../libs/bem-components/common.blocks/input/input.css:end */
/* ../../desktop.blocks/p-vcard/p-vcard.css:begin */
.p-vcard.page
{
    font: 12px/1.3 Arial, Helvetica, sans-serif;

    position: relative;

    width: 100%;
    margin: 0;
    padding: 0;

    color: #000;
    background: #EDEDED;
}

.p-vcard__content
{
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/* ../../desktop.blocks/p-vcard/p-vcard.css:end */
/* ../../libs/bem-components/design/common.blocks/radio-group/_theme/radio-group_theme_islands.css:begin */
.radio-group_theme_islands {
  display: inline-block;
}
.radio-group_theme_islands.radio-group_size_m {
  line-height: 24px;
}
.radio-group_theme_islands.radio-group_size_l {
  line-height: 30px;
}
.radio-group_theme_islands.radio-group_type_button {
  display: inline-block;
  white-space: nowrap;
}
/* ../../libs/bem-components/design/common.blocks/radio-group/_theme/radio-group_theme_islands.css:end */
/* ../../libs/bem-components/design/common.blocks/button/_theme/button_theme_islands.css:begin */
.button_theme_islands {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #000;
  border: 0;
  border-radius: 3px;
  outline: 0;
  background: rgba(0,0,0,0.2);
  text-align: center;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.button_theme_islands::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.button_theme_islands .button__text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.button_theme_islands .icon {
  position: relative;
}
.button_theme_islands.button_type_link {
  text-decoration: none;
}
.button_theme_islands:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  border-radius: 2px;
  background: #fff;
}
.button_theme_islands.button_hovered {
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}
.button_theme_islands.button_focused-hard {
  z-index: 1;
  background: rgba(178,142,0,0.6);
  box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0;
}
.button_theme_islands.button_pressed:before {
  background: #f6f5f3;
}
.button_theme_islands.button_checked {
  background: rgba(153,122,0,0.5);
}
.button_theme_islands.button_checked:before {
  background: #ffeba0;
}
.button_theme_islands.button_checked.button_pressed {
  background: rgba(129,103,0,0.6);
}
.button_theme_islands.button_checked.button_pressed:before {
  background: #fee481;
}
.button_theme_islands.button_checked.button_hovered {
  background: rgba(129,103,0,0.6);
}
.button_theme_islands.button_view_plain {
  background: none;
}
.button_theme_islands.button_view_plain:before {
  display: none;
}
.button_theme_islands.button_view_plain.button_pressed {
  background: #f6f5f3;
}
.button_theme_islands.button_view_plain.button_checked {
  background: #ffeba0;
}
.button_theme_islands.button_view_plain.button_checked.button_pressed {
  background: #fee481;
}
.button_theme_islands.button_view_plain.button_disabled {
  background: none;
}
.button_theme_islands.button_view_action {
  background: rgba(191,153,0,0.8);
}
.button_theme_islands.button_view_action:before {
  background: #ffdb4d;
}
.button_theme_islands.button_view_action.button_pressed:before {
  background: #fc0;
}
.button_theme_islands.button_view_action.button_hovered {
  background: rgba(159,127,0,0.8);
}
.button_theme_islands.button_view_pseudo {
  overflow: hidden;
  background: none;
}
.button_theme_islands.button_view_pseudo:before {
  background: none;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}
.button_theme_islands.button_view_pseudo.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}
.button_theme_islands.button_view_pseudo.button_focused-hard:before {
  box-shadow: none;
}
.button_theme_islands.button_view_pseudo.button_pressed:before {
  background: rgba(0,0,0,0.05);
}
.button_theme_islands.button_view_pseudo.button_checked:before {
  background: #ffeba0;
  box-shadow: 0 0 0 1px rgba(153,122,0,0.5);
}
.button_theme_islands.button_view_pseudo.button_checked.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(129,103,0,0.6);
}
.button_theme_islands.button_view_pseudo.button_checked.button_pressed:before {
  background: #fee481;
  box-shadow: 0 0 0 1px rgba(129,103,0,0.6);
}
.button_theme_islands.button_disabled {
  background: rgba(0,0,0,0.08);
}
.button_theme_islands.button_disabled:before {
  display: none;
}
.button_theme_islands.button_disabled.button_checked:before {
  display: block;
  background: #ffeba0;
}
.button_theme_islands.button_disabled .button__text {
  color: #aaa;
}
.button_theme_islands.button_disabled .icon {
  opacity: 0.3;
}
.button_theme_islands.button_size_s {
  font-size: 13px;
  line-height: 24px;
}
.button_theme_islands.button_size_s .icon {
  width: 24px;
}
.button_theme_islands.button_size_s .button__text {
  margin: 0 10px;
}
.button_theme_islands.button_size_m {
  font-size: 13px;
  line-height: 28px;
}
.button_theme_islands.button_size_m .icon {
  width: 28px;
}
.button_theme_islands.button_size_m .button__text {
  margin: 0 13px;
}
.button_theme_islands.button_size_l {
  font-size: 15px;
  line-height: 32px;
}
.button_theme_islands.button_size_l .icon {
  width: 32px;
}
.button_theme_islands.button_size_l .button__text {
  margin: 0 15px;
}
.button_theme_islands.button_size_xl {
  font-size: 18px;
  line-height: 38px;
}
.button_theme_islands.button_size_xl .icon {
  width: 38px;
}
.button_theme_islands.button_size_xl .button__text {
  margin: 0 18px;
}
.button_theme_islands .icon + .button__text {
  margin-left: 0;
}
.button_theme_islands .button__text:not(:last-child) {
  margin-right: 0;
}
.control-group .button_checked + .button_theme_islands:before,
.control-group .radio_checked + .radio .button_theme_islands:before,
.control-group .checkbox_checked + .checkbox .button_theme_islands:before {
  left: 0;
}
.control-group .button_theme_islands {
  border-radius: 0;
}
.control-group .button_theme_islands:before {
  right: 0;
  border-radius: 0;
}
.control-group .button_theme_islands.button_checked:before,
.control-group .button_theme_islands.button_focused-hard.button:before {
  right: 1px;
}
.control-group .button_theme_islands.button_focused-hard.button:before {
  left: 1px;
}
.control-group > .button_theme_islands:first-child,
.control-group > :first-child .button_theme_islands,
.control-group > :first-child.popup + .button_theme_islands {
  border-radius: 3px 0 0 3px;
}
.control-group > .button_theme_islands:first-child:before,
.control-group > :first-child .button_theme_islands:before,
.control-group > :first-child.popup + .button_theme_islands:before {
  border-radius: 2px 0 0 2px;
}
.control-group > .button_theme_islands:last-child,
.control-group > :last-child .button_theme_islands {
  border-radius: 0 3px 3px 0;
}
.control-group > .button_theme_islands:last-child:before,
.control-group > :last-child .button_theme_islands:before {
  border-radius: 0 2px 2px 0;
  right: 1px;
}
.control-group > :only-child .button_theme_islands {
  border-radius: 3px;
}
.control-group > :only-child .button_theme_islands:before {
  border-radius: 2px;
}
/* ../../libs/bem-components/design/common.blocks/button/_theme/button_theme_islands.css:end */
/* ../../desktop.blocks/p-form/p-form.css:begin */
.p-form__tabs
{

}
/* ../../desktop.blocks/p-form/p-form.css:end */
/* ../../libs/bem-components/design/common.blocks/radio/_theme/radio_theme_islands.css:begin */
.radio_theme_islands {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.radio_theme_islands:hover {
  cursor: pointer;
}
.radio_theme_islands .radio__control {
  position: absolute;
  z-index: -1;
  margin: 0;
  opacity: 0;
}
.radio_theme_islands .radio__box {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background: rgba(0,0,0,0.2);
}
.radio_theme_islands .radio__box:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  border-radius: 50%;
  background: #fff;
}
.radio_theme_islands.radio_size_m {
  font-size: 13px;
}
.radio_theme_islands.radio_size_m .radio__box {
  line-height: 14px;
  top: 2px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.radio_theme_islands.radio_size_m .radio__box:after {
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
}
.radio_theme_islands.radio_size_l {
  font-size: 15px;
}
.radio_theme_islands.radio_size_l .radio__box {
  line-height: 17px;
  top: 3px;
  width: 17px;
  height: 17px;
  margin-right: 7px;
}
.radio_theme_islands.radio_size_l .radio__box:after {
  top: 5px;
  left: 5px;
  width: 7px;
  height: 7px;
}
.radio_theme_islands.radio_checked .radio__box {
  background: rgba(153,122,0,0.5);
}
.radio_theme_islands.radio_checked .radio__box:before {
  background: #ffeba0;
}
.radio_theme_islands.radio_checked .radio__box:after {
  position: absolute;
  border-radius: 50%;
  background: #000;
  content: '';
}
.radio_theme_islands.radio_focused .radio__box {
  box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0;
}
.radio_theme_islands.radio_hovered .radio__box {
  background: rgba(0,0,0,0.3);
}
.radio_theme_islands.radio_hovered.radio_checked .radio__box {
  background: rgba(129,103,0,0.6);
}
.radio_theme_islands.radio_disabled {
  cursor: default;
  color: #999;
}
.radio_theme_islands.radio_disabled .radio__box {
  background: rgba(0,0,0,0.08);
}
.radio_theme_islands.radio_disabled .radio__box:before {
  display: none;
}
.radio_theme_islands.radio_disabled .radio__box:after {
  background: rgba(0,0,0,0.4);
}
.radio_theme_islands.radio_type_button {
  display: inline-block;
}
.radio_theme_islands.radio_type_line.radio_size_m {
  margin-right: 13px;
}
.radio_theme_islands.radio_type_line.radio_size_l {
  margin-right: 15px;
}
.radio_theme_islands.radio_type_line:last-child {
  margin-right: 0;
}
/* ../../libs/bem-components/design/common.blocks/radio/_theme/radio_theme_islands.css:end */
